@font-face {
  font-family: 'CenturySchoolbook';
  src: url('fonts/CenturySchoolbook-Regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'CenturySchoolbook';
  src: url('fonts/CenturySchoolbook-Italic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'CenturySchoolbook';
  src: url('fonts/CenturySchoolbook-Bold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Harman-Simple';
  src: url('fonts/Harman-Simple-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Harman-Retro';
  src: url('fonts/Harman-Retro-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Harman-Sans';
  src: url('fonts/Harman-Sans-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Harman-Simple', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}